<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background: url('/static/img/2.jpg') center/cover no-repeat scroll;">
    <!-- header-->
    <header id='abouthead'>
        <nav>
            <ul>
                <li><a class='aba' href="/">Home</a></li>
                <li><a class='aba' class='aba' href="/contact">Contact</a></li>
                <li><a class='aba' href="/signup">SignUp</a></li>
            </ul>
        </nav>
    </header>
    <!-- header ends-->
    
    <!-- section-->
    <section id='aboutsec'>
       <div id='secdiv'>
           <h2 id='sh'>
               FindCode
           </h2>
           <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro vero esse quas autem suscipit magnam laudantium at eveniet sunt illo tempora voluptatibus non, consectetur aut iure beatae sequi amet blanditiis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsum exercitationem molestiae id laboriosam tempore deleniti eum ab voluptas eaque? Modi omnis quibusdam totam eaque soluta minus beatae sed magnam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsum exercitationem molestiae id laboriosam tempore deleniti eum ab voluptas eaque? Modi omnis quibusdam totam eaque soluta minus beatae sed magnam.
            </p>
       </div>
    </section>
    <!-- section ends-->

    <!-- footer -->
    <footer>
        <div class='f_div' id="f">
            <button class="btn" id="b1">
                <a href="/login">Login</a>
            </button>
            <button class="btn" id="b2">
                <a href="/list">View-List</a>
            </button>
        </div>
    </footer>
    <!-- footer ends -->

</body>
</html>