<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindCode</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background: url('/static/img/2.jpg') center/cover no-repeat scroll;">
    <!-- header-->
    <header class="set">
        <nav>
            <ul>
                <li><a id="l1"  href="#">Home</a></li>
                <li><a id="l2" href="/about">About</a></li>
                <li><a id="l3" href="/contact">Contact</a></li>
                <li><a id="l4" href="/signup">SignUp</a></li>
            </ul>
        </nav>
    </header>
    <!-- header ends-->

    <!-- section-->
    <section class="set">
        <div class="s_div" id='s'>
            <h2 id='h2'>
                FindCode
            </span>
        </div>
        <span id='s2'>
            just remember path not parameter
        </span>
    </section>
    <!-- section ends-->

    <!-- footer -->
    <footer>
        <div class='f_div' id="f">
            <button class="btn" id="b1">
                <a href="/login">Login</a>
            </button>
            <button class="btn" id="b2">
                <a href="/list">View-List</a>
            </button>
        </div>
    </footer>
    <!-- footer ends -->

</body>
</html>
